/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
body{
    overflow-x:hidden;

}
/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
.menu__img{
    display: flex;
    flex-direction: column;
}
.menu__img>a{
    text-align: center;
}
.menu__link{
    color:#E4D8CC;
    margin: 10px;
    

}
.menu__item{
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
.menu__logo{
    width: 5%;
    height: 5%;
margin: auto;}
.menu__list{
    display: grid;
    flex-wrap: wrap;
    margin: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
header{
    width: 100%;
    height: 100vh;

    color: #E4D8CC;
    margin-bottom: 70vh;

}
.header__block{
 text-align: center;
    width: 100%;
    background: url('../img/adm.jpg');
    height: 100%;
    color:#000000;
    padding: 0px 20px 0px 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__h1{
    font-size: 28px;
    font-weight: 700;
    width: 80%;
    margin: auto;
    margin-bottom: 15%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.692);
    color:#E4D8CC;
}
.header_text{
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.692);
    color:#E4D8CC;
        border-radius: 10px;

}
.info__content{
    color: #000000;
    display: flex;
    justify-content: center;
}
.info__content>div{
    margin: 40px 20px;
    background: rgba(175, 176, 201, 0.767);
    text-align: center;


}
.info__title{
    font-weight: 700;
}
.info__data{
    font-size: 12px;
}
.obrashenie{
    background: rgba(175, 176, 201, 0.767);
    margin: auto;
    text-align: center;
    margin: 0px 6% 0px 6%;

}
.soobshenie{
    background: rgb(255, 255, 255);
    padding: 0px 20% 0px 20%;

}
input{
    background: rgb(255, 255, 255);
margin: 10px;
}.news__content{ display: grid; grid-template-columns: 33% 33% 33%; margin-bottom: 10px;}
.news__item{
    background-color: rgb(12, 35, 54);
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color:#E4D8CC;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap:wrap;
}
.news__item img{
    width: 50%;
    height: 50%;
    margin: auto;
}
footer{
    background:rgb(3, 3, 37);
    margin-top:50px;
}
.footer__list{
    display: grid;
    flex-wrap: wrap;
    margin: auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.footer__list>.menu__link{
    margin: 10px;
    color: #E4D8CC;

}
.footer__podpes{
    text-align: center;
    font-size: 12px;
}
footer{
    color: #E4D8CC;
}
hr{
    border: 1px solid black;

}
.news>h1{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.obrashenie>h1{
    font-size: 20px;
    font-weight: 700;
}
.footer__year{
    text-align: center;
}
.info__content>div{
box-shadow: inset 1px 1px 10px 1px rgb(139, 140, 165);
}

.obrashenie{
    box-shadow: inset 1px 1px 10px 1px rgb(139, 140, 165);

}
.menu__item{
    background: rgba(96, 100, 167, 0.795);
    padding: 5px 7px;
    transition: all 0.1s linear;
    border-radius: 7px;
}
.menu__item:hover{
    background: rgb(25, 29, 138);
    transition: all 0.1s linear;


}
.search__pole{
    color:rgb(0, 0, 0);
    background: rgb(239, 239, 250);
}
@font-face {
    font-family: "helvetica";
    src: url("../font/helvetica_light.otf");
  }
*{
    font-family: "helvetica";
}
.menu__h1{
    margin-bottom: 10px;
    color:#000000;
}
.news{
    background: #e5e5e5;
    margin-top: 10px;

}
.info{
    margin-bottom: 10px;

}
.info__conten{
    display: flex;
    background: #e5e5e5;
    margin: 10px 40% 10px 10px;
    transform: translateX(-5%);
    opacity: 0;
    height: 29vh;
}
.info__conten-right{
    display: flex;
    background: #e5e5e5;
    margin: 10px 10px 10px 40%;
    transform: translateX(5%);
    opacity: 0;


    height: 29vh;

}
.info__conten>img{
    margin: 10px;
}
.info__conten-right>img{
    margin: 10px;
}
.info__conten-right table{
    border: 1px solid black;
}
.vis{
    transition: all 0.7s cubic-bezier(0.165, 0.4, 0.2, 1);
    transform: translateX(0);
    opacity: 1;

}
.obrashenie__button input{
    padding: 10px;
    background: #e5e5e5;
}
.obrashenie__button input:hover{
    transition: all 1s linear;
    background: #4e4e4e;

}


.menu__item{
display: flex;
justify-content: space-between;
}
.menu__item>div{
    opacity: 0;
    transition: all 0.1s linear;
    }
.menu__link:hover div{
        opacity: 1;
        transition: all 0.1s linear;
    }